body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

div.canvasWrapper {
  /* padding-top: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div.toolbar {
  position: absolute;
  top: 65px;
  left: 65px;
  border-radius: 30px;
  background-color: rgb(57, 154, 233);
  height: 60px;
  width: 80%;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  box-sizing: border-box;
}

div.snipBox {
  display: none;
  border: 2px dashed rgba(0, 0, 0, 1);
  border-radius: 6px;
  position: absolute;
  top: 20px;
  left: 20px;
  user-select: none;
  box-shadow: 2px 2px 4px white, -2px -2px 4px white, -2px 2px 4px white,
    2px -2px 4px white, inset 2px 2px 4px white, inset -2px -2px 4px white,
    inset -2px 2px 4px white, inset 2px -2px 4px white;
}
div.snipBox:hover {
  cursor: grab;
}
/* div.toolbar > a {
} */
div.toolWrapper {
  width: 33px;
  height: 33px;
  position: relative;
}
div.toolWrapper > label > div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
}

div.toolWrapper > label > input:hover {
  cursor: pointer;
}
div.toolWrapper > label > input {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

div.toolWrapper > label > input[type='radio'],
div.toolWrapper > label > input[type='checkbox'] {
  opacity: 0;
}
div.toolWrapper > label > input[type='number'] {
  background-color: field;
  border-radius: 0%;
}
div.toolWrapper > label > input:checked + div {
  width: 33px;
  height: 33px;
  border: 2px solid black;
  border-radius: 50%;
}
canvas#myCanvas {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
}
